<div class="toolbar" role="banner">
  <span>Store Management System</span>
  <button mat-raised-button (click)="createNew()">Create New Store</button>
</div>

<div class="flex-container">
  <div class="store-list">
    <mat-list role="list">
      <mat-list-item role="listitem" 
        *ngFor="let store of stores"
        [ngClass]="{'selected': selectedStore?.id == store.id}"
        (click)="selectStore(store)">
        {{store.id}} | {{store.name}} 
      </mat-list-item>
    </mat-list>
  </div>
  <div class="store-details">
    <store-details-component
      [store]='selectedStore'
      (storeAction)="handleStoreAction($event)">
    </store-details-component>
  </div>
</div>